html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #001;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#simulation {
    position: fixed;
    top: 0px;
    left: 320px;
}

#settings {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 300px;
    height: 100%;
    padding: 10px;
    background-color: #223;
    overflow: auto;
}

#settings-header {
    text-align: center;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    background-color: rgb(255, 99, 99);
    border: 0px;
    color: white;
    border-radius: 10px;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    width: 120px;
    height: 30px;
    background-color: rgb(31, 136, 172);
    border: 0px;
    color: white;
    border-radius: 10px;
}

#start-button {
    transform: translate(calc(-50% - 70px), 25px);
}

#stop-button {
    transform: translate(calc(-50% + 70px), 25px);
}

#reset-button {
    transform: translate(calc(-50%), 90px);
}

#speed-input {
    transform: translate(calc(-50% + 35px), 155px);
    padding-left: 6px;
}

#speed-input-label {
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(calc(-50% - 70px), 159px);
}

#selection-input {
    transform: translate(calc(-50% + 35px), 210px);
    padding-left: 6px;
}

#selection-input-label {
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(calc(-50% - 83px), 214px);
}

#size-input {
    transform: translate(calc(-50% + 35px), 265px);
    padding-left: 6px;
}

#size-input-label {
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(calc(-50% - 64px), 269px);
}